1 VERSIONINFO
    FILEVERSION 1,0,0,0
    PRODUCTVERSION 1,0,0,0
    FILEOS 0x4L
    FILETYPE 0x1L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041604E4"
        BEGIN
            VALUE "CompanyName", "MZSW"
            VALUE "FileDescription", "Export data from FDB file to SQL statement"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "fdb2sql.exe"
            VALUE "LegalCopyright", ""
            VALUE "OriginalFilename", "fdb2sql.exe"
            VALUE "ProductName", "FDB To SQL"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0416, 0x04E4
    END
END
